{% extends "base.html.twig" %}
                    {% block body %}

                    <form action = "{{ path('login') }}" method="post">
                        <div class="form_group">
                            <input placeholder="vote pseudo.." required name="_username" type:"text" class="form-control">
                        </div>
                        <div class="form_group">
                                <input placeholder="vote mot de passe.." required name="_password" type:"password" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-success">Connexion</button>
                    </form>
                    {% endblock %}
