{% block title %}Modifier mot de passe {% endblock %}
{% extends 'base.html.twig' %}
{% form_theme resetForm 'bootstrap_4_layout.html.twig' %}

{% block body %}
{{form_start(resetForm)}}
{{form_widget(resetForm)}}
<button type="submit" class="btn btn-success">Enregistrer</button>
{{form_end(resetForm)}}

{% endblock %}