{% extends 'base.html.twig' %}
{% block title %}Paramètres{% endblock %}

{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" type="text/css" href="{{ asset('/css/prime.css') }}">
{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="my-5">Gestion des paramètres</h1>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Prix de Revente unitaire</th>
                    <th class="text-right">Modifier</th>
                </tr>
            </thead>

            <tbody>
                {% for Setting in setting %}
                <tr>
                    <th >{{Setting.reventeUnitaire}}$</th>
                    <th class="text-right">
                            <a href="#" class="btn btn-primary" title="Modifier"><i class="fa fa-edit"></i></a>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}